
SHELL=/bin/bash
MAILTO="jmigueldelgado@gmail.com"


### acquire scenes from ESA
0 20 * * 1 /users/stud09/martinsd/local/miniconda2/envs/snappy/bin/python2 /users/stud09/martinsd/proj/sar2watermask/modules/getRecentScenes.py
0 20 * * 3 /users/stud09/martinsd/local/miniconda2/envs/snappy/bin/python2 /users/stud09/martinsd/proj/sar2watermask/modules/getRecentScenes.py
0 20 * * 5 /users/stud09/martinsd/local/miniconda2/envs/snappy/bin/python2 /users/stud09/martinsd/proj/sar2watermask/modules/getRecentScenes.py

### process acquired scenes
0 2 * * * qsub /users/stud09/martinsd/proj/sar2watermask/jobs/2_sar2watermask.job

### polygonize scenes
0 14 * * * qsub /users/stud09/martinsd/proj/sar2watermask/jobs/3_polygonize.job

### simplify polygons and save as geojson
0 13 * * * qsub /users/stud09/martinsd/proj/sar2watermask/jobs/4_st_simplify.job

### insert polygons into mongodb database in webserver
0 23 * * 3 /users/stud09/martinsd/local/miniconda2/envs/mongodb/bin/python2 /users/stud09/martinsd/proj/sar2watermask/modules/insertPolygons.py
0 23 * * 5 /users/stud09/martinsd/local/miniconda2/envs/mongodb/bin/python2 /users/stud09/martinsd/proj/sar2watermask/modules/insertPolygons.py
0 23 * * 7 /users/stud09/martinsd/local/miniconda2/envs/mongodb/bin/python2 /users/stud09/martinsd/proj/sar2watermask/modules/insertPolygons.py

### clean up
55 14 * * 5 /users/stud09/martinsd/local/miniconda2/envs/mongodb/bin/python2 /users/stud09/martinsd/proj/sar2watermask/modules/cleanup.py


# download scenes every saturday at 6 am
# process data every saturday at 6 pm
# polygonize every sunday at 6 am
# simplify in R and save as geojson
# insert json documents into mongodb in webserver

